[Desktop Entry]
Name=Yandex-disk
Name[ru]=Яндекс Диск
Comment=Start Yandex-disk
Exec=/usr/bin/ya-gui
Icon=/usr/share/ya-gui/ya.png
Terminal=false
Type=Application
Categories=www;network;

Actions=Open;Start;Web;Stop;

[Desktop Action Open]
Name=Open dir
Name[ru]=Открыть папку
Exec=/usr/share/ya-gui/ya-home

[Desktop Action Start]
Name=Start
Name[ru]=Запустить демон
Exec=/usr/share/ya-gui/start

[Desktop Action Web]
Name=Open web
Name[ru]=Открыть веб-версию
Exec=firefox http://disk.yandex.ru

[Desktop Action Stop]
Name=Stop
Name[ru]=Остановить демон
Exec=/usr/share/ya-gui/stop
