Package: ya-gui
Version: 0.5.1
Architecture: all
Installed-Size: 512
Maintainer: Developers <snowdimon@gmail.com>
Original-Maintainer: Snow Dimon | snowdimon.ru
Depends: yandex-disk, zenity, bash, conky-all
Description: Gui interface for yandex.disk client.
