Package: ya-gui
Version: 0.5.9
Architecture: all
Installed-Size: 512
Maintainer: Developers <snowdimon@gmail.com>
Original-Maintainer: Snow Dimon | snowdimon.ru
Depends: yandex-disk, zenity, bash, conky-all
Homepage:http://www.snowdimon.ru
Description: Ya-gui
 Gui interface for yandex-disk client
